#invest-details-2 {
    width: 569px;
    height: 285px;
    background: #F4F8FF;
    border: 1px dashed rgba(0, 45, 122, 0.3);
    box-sizing: border-box;
    border-radius: 12px;
    background: url('/assets/backgrounds/abstract2.jpg');
}
.height-class {
    height: 62px;
}

.input-details {
background: #EFF0F7;
border-radius: 12px;
height: 60px;
width: 470px;
}
.input-details2 {
background: #EFF0F7;
border-radius: 12px;
height: 60px;
width: 450px;
}
.cvv-info {
position: absolute;
pointer-events: none;
left: 100px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 1rem;
line-height: 1.4rem;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #641873;

}
.floating-address-label {
position: relative;
pointer-events: none;
left: 15px;
top: -40px;
transition: 0.2s ease all;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 1.4rem;
font-size: 14px;
color: #6E7191;
}

input:focus ~ .floating-address-label, #text-area:focus ~ .floating-address-label, select:focus ~ .floating-address-label,
input:not(:focus):valid ~ .floating-address-label, select:disabled ~ .floating-address-label,
#text-area:not(:focus):valid ~ .floating-address-label, select:not(:focus):valid ~ .floating-address-label{
top: -68px;
/* bottom: 10px; */
left: 12px;
font-size: 1rem;
font-size: 10px;
opacity: 1;
background-color: white;
}
.floating-select-label {
position: absolute;
pointer-events: none;
left: 15px;
top: 20px;
transition: 0.2s ease all;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 1.4rem;
font-size: 14px;
color: #6E7191;
}
.select-custom:focus ~ .floating-select-label,
.select-custom:not(:focus):valid ~ .floating-select-label {
top: -7px;
/* bottom: 10px; */
left: 12px;
font-size: 1rem;
font-size: 10px;
opacity: 1;
background-color: white;
}
.input-details, .short-input, .input-details2 {
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 1.6rem;
line-height: 2.8rem;
letter-spacing: 0.75px;
color: #A0A3BD;
}
.short-input {
height: 60px;
width: 230px;
background: #EFF0F7;
border-radius: 12px;
}
.modal-btn {
    height: 52px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 0.75px;
    color: #F7F7FC;
    background: #641873;
    border-radius: 20px;
}
.modal-btn {
    width: 470px;
}
.card-type {
    position: absolute;
    top: 11.5%;
    right: 105px;
}

#card-logo {
    width: 48px;
}